.Titulo{
		font-family: 'Montserrat', sans-serif;
		padding-bottom: 25px;
		padding-top: 25px;
		color: grey;
		padding: 25px;
}
.Imagenes{
		width: 450px;
		height: 450px;
		border-radius: 20px;
}
#Introduccion{
		font-family: sans-serif;
}
.Imagenes1{
		width: 120px;
		height: 120px;
		border-radius: 120px;
		margin-top: 50px;
}
.Introduccion1{
		margin-top: 30px;
}
.Imagenes2{
		width: 250px;
		height: 250px;
		margin-top: 50px;
		border-radius: 20px;
}